:root{
    --cor-fundo:#000000fa;
    --cor-principal:#fd0c0c;
    --cor-secundaria:hsl(0, 18%, 93%);
    --cor-destaque:hsl(251, 94%, 52%);
    --cor-texto:hwb(66 24% 0%);
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);

    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}
